.analytics-page {
    padding: 20px;
    text-align: center;
  }
  
  .filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-buttons button {
    background-color: #61dafb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-buttons button:hover {
    background-color: #21a1f1;
  }
  
  .filter-buttons .selected {
    background-color: #21a1f1; /* Darker background for selected filter */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .analytics-overview {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .analytics-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .analytics-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .analytics-card p {
    font-size: 2em;
    margin: 0;
  }
  
  .top-pages-section {
    margin-top: 40px;
  }
  
  .top-pages-section h2 {
    font-size: 1.8em;
  }
  
  .top-pages-section canvas {
    max-width: 600px;
    margin: 0 auto;
  }
  