.about-us-page {
    padding: 20px;
}

.about-us-content {
max-width: 800px;
margin: 0 auto;
}

h1, h2 {
text-align: center;
color: #2c3e50;
}

p {
font-size: 1em;
line-height: 1.5;
color: #7f8c8d;
margin-bottom: 20px;
}

.contribute-button {
display: block;
margin: 20px auto;
padding: 10px 20px;
font-size: 1em;
color: white;
background-color: #61dafb;
border: none;
cursor: pointer;
}

.contribute-button:hover {
background-color: #21a1f1;
}

.contact-info {
max-width: 800px;
margin: 40px auto;
text-align: center;
}

.contact-item {
display: flex;
align-items: center;
margin-bottom: 20px;
}

.contact-item img {
max-width: 100px;
margin-right: 20px;
}

.contact-item div {
text-align: left;
}

.image-container {
display: flex;
justify-content: center;
margin-top: 40px;
}

.nwu-unesco-image {
max-width: 200px;
height: auto;
}
