.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.register-box {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
}

.sign-up-button {
    width: 100%;
    padding: 10px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.or-divider {
    margin: 20px 0;
    color: #aaa;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.google-button{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.google-button {
    background-color: #db4437;
    color: white;
}

.already-account {
    margin-top: 20px;
    color: #555;
}

.already-account a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
}
