.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links {
  display: flex;
  gap: 1em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #61dafb;
}

.search-bar {
  display: flex;
  margin-top: 1em;
}

.search-bar input {
  padding: 0.5em;
  font-size: 1em;
}

.search-bar button {
  padding: 0
}