.contributors-page {
    padding: 20px;
}

.contributors-content {
max-width: 800px;
margin: 0 auto;
}

h1 {
text-align: center;
font-size: 2.5em;
color: #2c3e50;
}

h2 {
font-size: 1.5em;
color: #34495e;
margin-top: 20px;
}

p {
font-size: 1em;
line-height: 1.5;
color: #7f8c8d;
}

.image-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

.nwu-unesco-image {
max-width: 400px;
height: auto;
}
